.flavourspage{
    background-color:#e68797;/*#431f1f;*/
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flavourspage h1{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: antiquewhite;
    font-size: 220px;
}
#icecream{
   width: 100%;
    height: 200vh;
    background: pink;
}

#icecream h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 60px;
}

.image main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
}
#section1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media(max-width:430px){

}
@media(min-width:431px) and @media(max-width:430 to 750px)




 /*.cardlist{
    width: 280px;
    height: 369px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items:flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0,5);
    transition: 0.5s ease-in-out;
 } 
 .cardlist:hover{
    transform: translateY(3s);
 } 
 .cardlist:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bott);
 } 
 .cardlist:after{
    position: absolute;
    content: "";
    inset: 0;
    border: 2px solid white ;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;

 }
 .cardlist:hover:after{
         opacity: 1;
         inset: 20px;

 }

 .carditem{
    width: 80%;

    left: 50%;
    top: 50%;
    
 }*/

 

.cardlist .carditem{
    color: black;
    width: 400px;
    padding: 35px;
    display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border-radius: 8px;
     backdrop-filter: blur(30px);
     background-color:  rgba(255, 255, 255, 0.2);
     border: solid 1px  rgba(255, 255, 255, 0.5);
     

    
}
.cardlist .carditem .userimage{
       width: 250px;
       height: 250px;
       border-radius: 50%;
       margin-bottom: 40px;
       border: 3px solid #fff;
       padding: 4px;
}



.footercontainer{
    background-color: black;
    width: 100%;
    position:absolute;
    
    display: flex;
    padding: 10px;
    height: 50vh;
    gap: 30px;



}
/*footer css*/
.footercontainer p{
    color: white;
}

.footercontainer div a {
    color: white;
    gap: 5px;
}
.information {
         padding-top: 50px;
         padding-left: 20px;
         display: flex;
}

.information p{
    color: white;
    padding: 10px;
    gap: 30px
}
.mailbox{
    position: relative;

}
.mailbox input {
    background-color: white;
}



.mailbox {
    font-family: sans-serif;
    background-color: black;
    color: white;
    padding: 40px;
    
    
}
.form-container {
    width: 300px;
    padding: 20px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    background-color: black;
    color: white;
}
.form-group input[type="checkbox"] {
    margin-right: 5px;
}
.subscribe-button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: 1px solid white;
    cursor: pointer;
        }

/*#flavours {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;

}
#flavours div{
    width: 350px;
    height: 300px;
    border: 1px solid black;
    border-radius: 50%;
     flex-wrap: wrap;
    

}
.img1{
    background-image: url(./chocolate-ice\ cream.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
}
.img2{
    background-image: url(./oreo\ ice\ cfeam.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.img3{
    background-image: url(./vanilla\ ice\ cream.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.img6{
    background-image: url(./pizeata\ ice\ cream.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.img7{
    background-image: url(./Honey-Raspberry.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#flavours div img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
 
#div1{
    background-image: url(./cupicecream.jpeg);
    border-radius: 50%;
    border: black;
    width: 300px;
    height: 300px;

    
}
#div1 h1{
    font-size: 50px;
    color: black;

    
}











/*.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.card{
    width: 300px;
    background-color: #431f1f;
     border-radius:8px ;
     overflow: hidden;
     box box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
     margin:20px
}
.card img{
    width: 100%;
    height: auto;
}
 .card-content{
    padding: 16px;
 }   
.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}
.card-content p{
    color: white;
    font-size: 15px;
    line-height: 1.3;
}


/*#round{
    width: 50%;
    height: 110vh;
    border: black;
    /* animation: colors;
    animation-duration: 5s;
    animation-iteration-count: infinite; */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    /*animation:colors 5s ease infinite ;
}
@keyframes colors{
    0%{
        background-image:  url(./cupicecream.jpeg);;
    }
    25%{
        
        background-image: url(./ice\ cream.avif);
    }
    50%{
        background-image: url(./pizeatat\ ice\ cream.htm);
    }
    75%{
        background-color: cadetblue;
    }
}/*

